<!DOCTYPE html>
<head>

	<title>Tickets</title>
	<link rel="stylesheet" href="/static/ticket.css">

</head>
<body>
	<div class="tickets">
	{%for t in range(tickets)%}
	<div class="ticket">
		<div class="text">
			<h3>Souper de Noël de la Cathédrale Marie-Reine du Monde</h5>
			<b>Le 17 décembre à 18h00</b><br/>
			1110 Rue Mansfield<br/>
			Coût 1.00$<br/>
			Personne ne peut entrer sans billet.<br/>
			Ce billet est valide pour une personne.<br/>
			Billet #{{t}}
		</div>
		<div class="image">
			<img src="/{{ eventName }}/qrcode/{{ t }}/">
		</div>
	</div>
	{%endfor%}
	</div>
</body>